<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <title>AutoTask</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="static/base64.min.js"></script>
    <script src="static/md5.min.js"></script>
    <script src="static/axios.min.js"></script>
    <script src="static/vue2.js"></script>
    <script src="static/elementui.js"></script>
    <style>
        .el-dialog--center .el-dialog__body {
            padding: 25px 25px 0px;
        }

        .container {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }

        .item {
            min-width: 370px;
            flex: 0 1 auto;
        }

        /* css 注释说明：设置了浏览器宽度大于700px时 item 显示600px宽度 */
        @media screen and (min-width: 701px) {
            .item {
                min-width: 600px
            }
        }

        /* 设置了浏览器宽度不大于700px时 item 显示370px宽度 */
        @media screen and (max-width:700px) {
            .item {
                min-width: 370px;
            }
        }
    </style>
</head>

<body>
    <div id="app">
        <el-card class="box-card" v-if="isAdmin">
            <el-row :gutter="20">
                <el-col :span="16">
                    <el-input v-model="search" placeholder="输入任意内容查询" @keyup.enter.native="ReadDevice" clearable />
                </el-col>
                <el-col :span="8">
                    <el-button type="primary" icon="el-icon-search" @click="ReadDevice">查询</el-button>
                </el-col>
            </el-row>
        </el-card>
        <el-table :data="tableData" border style="width: 100%" stripe="true">
            <el-table-column prop="deviceId" label="设备ID">
            </el-table-column>
            <el-table-column prop="deviceName" label="设备型号">
            </el-table-column>
            <el-table-column prop="remark" label="备注">
            </el-table-column>
            <el-table-column prop="state" label="状态" min-width="95px">
                <template slot-scope="{row}">
                    <el-tag v-if="row.state =='none'">无操作</el-tag>
                    <el-tag v-else-if="row.state == 'update'" type="success">自动更新</el-tag>
                    <el-tag v-else-if="row.state == 'forcedUpdate'" type="warning">覆盖更新</el-tag>
                    <el-tag v-else-if="row.state == 'stopRun'" type="info">停止运行</el-tag>
                    <el-tag v-else-if="row.state == 'delete'" type="danger">删除</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="state" label="覆盖配置" min-width="95px">
                <template slot-scope="{row}">
                    <el-switch v-model="row.isConfigCover" active-color="#13ce66" inactive-color="#ff4949"
                        @change="updateIsConfigCover(row)">
                    </el-switch>
                </template>
            </el-table-column>
            <el-table-column fixed='right' label="操作" min-width="92px">
                <template slot-scope="{row}">
                    <el-button type="primary" icon="el-icon-edit" size="mini" title="编辑" circle
                        @click="editClick(row)"></el-button>
                    <el-dropdown trigger="click" @command="(command) => handleCommand(command, row)">
                        <el-button type="info" icon="el-icon-more" size="mini" title="更多" circle></el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="config" icon="el-icon-s-tools">查看配置</el-dropdown-item>
                            <el-dropdown-item command="log" icon="el-icon-document"
                                v-if="isAdmin">查看日志</el-dropdown-item>
                            <el-dropdown-item command="del" icon="el-icon-delete" v-if="isAdmin">删除</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog title="设备信息" :visible.sync="dialogFormVisible" width="90%" :close-on-click-modal="true"
            @close="Object.assign(myDevice,oldDevice)">
            <el-form ref="form" :model="myDevice" :label-width="formLabelWidth">
                <el-form-item label="ID">
                    <el-input v-model="myDevice.deviceId" disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="型号">
                    <el-input v-model="myDevice.deviceName" disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="尺寸">
                    <el-input v-model="myDevice.deviceSize" disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input v-model="myDevice.remark" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-select v-model="myDevice.state" placeholder="请选择状态">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="其它">
                    <el-checkbox v-model="myDevice.isConfigCover">覆盖配置</el-checkbox>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="SaveDevice">保 存</el-button>
                <el-button type="info" @click="openDevice" v-if="isAdmin">查看源文件</el-button>
                <el-button @click="dialogFormVisible = false">取 消</el-button>
            </div>
        </el-dialog>

        <el-dialog :title="dialogConfigTitle" :visible.sync="dialogConfigFormVisible" :inline="true" :fullscreen="true"
            :center="true">
            <el-form :model="form" ref="configForm" label-width="160px" size="small">

                <!-- 多选框 -->
                <el-form-item v-for="task in configData.TaskList" :label="task.title" :key="task.title">
                    <el-checkbox-group v-model="form[task.key]">
                        <el-checkbox-button v-for="val in task.list" :label="val" :name="task.title"
                            :key="val"></el-checkbox-button>
                    </el-checkbox-group>
                </el-form-item>

                <!-- 开关 -->
                <el-form-item label="开关：">
                    <el-switch style="margin-right: 20px;" v-for="(val,key) in configData.Switch" v-model="form[key]"
                        :key="key" :inactive-text="val"></el-switch>
                </el-form-item>

                <!-- 文本框 -->
                <div class="container">
                    <div class="item">
                        <el-form-item label="遮罩层透明度：">
                            <div class="block">
                                <el-slider v-model="form.maskLayerAlpha" :min="0" :max="255" show-input>
                                </el-slider>
                            </div>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="循环次数：">
                            <el-input-number v-model="form.batchWhileNum" :min="1" :max="10"></el-input-number>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="视频时间：">
                            <el-input-number v-model="form.spTime" :min="0" :step="100"></el-input-number>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="酷狗红包金额：">
                            <el-input v-model="form.kghbAmount"></el-input>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="酷狗账号：">
                            <el-input v-model="form.kgAccounts"></el-input>
                        </el-form-item>
                    </div>
                    <div class="item" v-if="isAdmin">
                        <el-form-item label="锁屏密码：">
                            <el-input v-model="form.pwd" show-password></el-input>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="抖音签到日期：">
                            <el-date-picker v-model="form.dySignDate" value-format="yyyy-MM-dd" type="date"
                                placeholder="选择日期"></el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="抖音极速版签到日期：">
                            <el-date-picker v-model="form.dyjsSignDate" value-format="yyyy-MM-dd" type="date"
                                placeholder="选择日期"></el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="西瓜视频签到日期：">
                            <el-date-picker v-model="form.xgSignDate" value-format="yyyy-MM-dd" type="date"
                                placeholder="选择日期"></el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="头条极速版签到日期">
                            <el-date-picker v-model="form.ttjsSignDate" value-format="yyyy-MM-dd" type="date"
                                placeholder="选择日期"></el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="更新时间">
                            <el-date-picker v-model="form.updateTime" type="datetime"
                                placeholder="选择日期"></el-date-picker>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="设备ID：">
                            <el-input v-model="form.deviceId" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="结束语：">
                            <el-input type="textarea" autosize v-model="form.goodbyeTips"></el-input>
                        </el-form-item>
                    </div>
                    <div class="item">
                        <el-form-item label="定时执行：">
                            <el-time-select v-model="form.timedExec"
                                :picker-options="{start: '00:00',step: '00:30',end: '23:59'}" placeholder="选择时间">
                            </el-time-select>
                        </el-form-item>
                    </div>
                </div>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="saveConfig">保 存</el-button>
                <el-button type="info" @click="openConfig" v-if="isAdmin">查看源文件</el-button>
                <el-button @click="dialogConfigFormVisible = false">关 闭</el-button>
            </div>
        </el-dialog>
    </div>
</body>

</html>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            isAdmin: false,
            deviceId: '',
            search: '',
            loading: null,
            access_token: Base64.decode('P2FjY2Vzc190b2tlbj05OGQ4OGI4YmQ3MDEyMjA0NzcwZGVmZTNmM2RjNTk0ZA=='),
            fileApiUrl: Base64.decode('aHR0cHM6Ly9naXRlZS5jb20vYXBpL3Y1L3JlcG9zL3d4cTEyMTM4L0RCRmlsZS9jb250ZW50cy8='),
            tableData: [],
            shaMap: {},
            myDevice: {},
            dialogFormVisible: false,
            formLabelWidth: '45px',
            options: [
                { value: 'none', label: '无操作' },
                { value: 'update', label: '自动更新' },
                { value: 'forcedUpdate', label: '覆盖更新' },
                { value: 'stopRun', label: '停止运行' },
                { value: 'delete', label: '删除' },
            ],
            dialogConfigFormVisible: false,
            dialogConfigTitle: '',
            configData: {},//配置选项
            configSha: '',
            form: {},
            oldDevice: null
        },
        created() {
            this.init();
        },
        computed: {
            // 计算属性的 getter
        },
        methods: {
            //获取url参数
            getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) { return pair[1]; }
                }
                return false;
            },
            //打开加载框
            openLoading() {
                if (this.loading) return;
                this.loading = this.$loading({
                    lock: true,
                    text: '处理中,请稍后......',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
            },
            //关闭加载框
            closeLoading() {
                if (!this.loading) return;
                this.loading.close();
                this.loading = null;
            },
            //成功消息
            msgSuccess(msg = '保存成功！') {
                this.$message({
                    showClose: true,
                    message: msg,
                    type: 'success',
                    duration: 1500
                });
            },
            //失败消息
            msgError(msg = '保存失败，请刷新数据重试！') {
                this.$message({
                    showClose: true,
                    message: msg,
                    type: 'error'
                });
            },
            //初始化
            init() {
                this.isAdmin = md5(this.getQueryVariable('isAdmin')) == '57cec4137b614c87cb4e24a3d003a3e0';
                this.deviceId = this.getQueryVariable('deviceId');
                if (this.isAdmin || this.deviceId) {
                    if (!this.isAdmin) {
                        this.options = [
                            { value: 'none', label: '无操作' },
                            { value: 'update', label: '自动更新' },
                            { value: 'forcedUpdate', label: '覆盖更新' },
                        ]
                    }
                    this.ReadDevice();
                    // this.ReadDevice1();
                    this.getConfigData();
                }
                else {
                    window.location.href = 'error.html';
                }
            },
            //获取指定设备信息
            getDevice: function (url) {
                return new Promise((resolve, reject) => {
                    axios.get(url)
                        .then(res => {
                            let data = {};
                            try {
                                data.content = JSON.parse(Base64.decode(res.data.content));
                            } catch (error) {
                                data.content = {};
                            }
                            data.sha = res.data.sha;
                            this.shaMap[data.content.deviceId] = data.sha;
                            resolve(data);
                        }).catch(err => {
                            reject(err);
                        });
                });
            },
            //读取设备脚本信息
            ReadDevice() {
                this.openLoading();
                if (this.deviceId) {
                    this.getDevice(this.fileApiUrl + 'AutoTaskDevice/' + this.deviceId + '.json' + this.access_token)
                        .then(res => {
                            this.tableData = [res.content];
                            this.closeLoading();
                        }).catch(err => {
                            this.closeLoading();
                            window.location.href = 'error.html';
                        });
                    return;
                }
                let apiUrl = this.fileApiUrl + 'AutoTaskDevice' + this.access_token;
                axios.get(apiUrl)
                    .then((res) => {
                        let data = res.data;
                        let fileList = data.filter(x => x.type === 'file');
                        let pros = []
                        fileList.forEach(file => {
                            pros.push(this.getDevice(file.url + this.access_token));
                        });
                        Promise.all(pros).then(values => {
                            let search = this.search.toLowerCase();
                            this.tableData = values.filter(x => x.content.deviceId).map(x => x.content)
                                .filter(x => search == ''
                                    || x.deviceName.toLowerCase().includes(search)
                                    || x.deviceId.toLowerCase().includes(search)
                                    || x.remark.toLowerCase().includes(search)
                                    || x.state.toLowerCase() == search)
                                .sort((a, b) => {
                                    return a.createTime - b.createTime;
                                });
                            this.closeLoading();
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                        this.closeLoading();
                    })
            },
            //保存设备脚本信息
            SaveDevice: function () {
                this.openLoading();
                let sha = this.shaMap[this.myDevice.deviceId];
                let submitData = {
                    content: Base64.encode(JSON.stringify(this.myDevice, null, 2)),
                    sha: sha,
                    message: 'updateAutoTaskDevice'
                };
                let apiUrl = this.fileApiUrl + 'AutoTaskDevice/' + this.myDevice.deviceId + '.json' + this.access_token;
                axios.put(apiUrl, submitData).then(res => {
                    if (res.status == 200) {
                        this.getDevice(apiUrl).then(res => {
                            this.myDevice = res.content;
                            this.oldDevice = res.content;
                            this.closeLoading();
                            this.dialogFormVisible = false;
                            this.msgSuccess();
                        });
                    }
                    else {
                        this.closeLoading();
                        this.msgError();
                    }
                }).catch(err => {
                    this.getDevice(apiUrl).then(res => {
                        Object.assign(this.myDevice, res.content);
                    });
                    this.closeLoading();
                    this.msgError();
                    console.log(err);
                })
            },
            //覆盖配置开关
            updateIsConfigCover(row) {
                this.myDevice = row;
                this.oldDevice = Object.assign({}, this.myDevice);
                this.oldDevice.isConfigCover = !row.isConfigCover
                this.SaveDevice();
            },
            //点击编辑
            editClick(row) {
                this.myDevice = row;
                this.oldDevice = Object.assign({}, this.myDevice);
                this.dialogFormVisible = true;
            },
            //更多操作
            handleCommand(command, row) {
                switch (command) {
                    case 'log':
                        return this.openLog(row);
                    case 'config':
                        return this.getConfig(row);
                    case 'del':
                        return this.deleteClick(row);
                }
            },
            //点击删除
            deleteClick(row) {
                this.$confirm('此操作将永久删除该信息, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let apiUrl = `${this.fileApiUrl}AutoTaskDevice/${row.deviceId}.json${this.access_token}&sha=${this.shaMap[row.deviceId]}&message=deleteAutoTaskDevice`;
                    axios.delete(apiUrl).then(res => {
                        if (res.status == 200) {
                            this.tableData.splice(this.tableData.indexOf(row), 1);
                            this.msgSuccess();
                        }
                        else {
                            this.msgError();
                        }
                        this.closeLoading();
                    }).catch(err => {
                        console.log(err);
                        this.closeLoading();
                        this.msgError();
                    })
                });
            },
            //打开设备信息页面
            openDevice() {
                window.open('https://gitee.com/wxq12138/DBFile/blob/master/AutoTaskDevice/' + this.myDevice.deviceId + '.json', '_blank');
            },
            //打开日志页面
            openLog(row) {
                window.open('https://gitee.com/wxq12138/DBFile/tree/master/AutoTaskLog/' + row.deviceId, '_blank');
            },
            //打开配置页面
            openConfig() {
                window.open('https://gitee.com/wxq12138/DBFile/blob/master/AutoTaskStorage/' + this.myDevice.deviceId + '.json', '_blank');
            },
            //获取配置选项
            getConfigData() {
                let apiUrl = this.fileApiUrl + 'configData.json' + this.access_token;
                axios.get(apiUrl)
                    .then((res) => {
                        let data = res.data;
                        this.configData = JSON.parse(Base64.decode(data.content));
                    })
                    .catch((error) => {
                        this.msgError('获取数据失败！');
                        console.log(error);
                    })
            },
            //获取配置
            getConfig(row) {
                this.myDevice = row;
                this.dialogConfigTitle = '配置信息 【' + row.remark + '】';
                let fileName = row.deviceId + '.json';
                let apiUrl = this.fileApiUrl + 'AutoTaskStorage/' + fileName + this.access_token;
                axios.get(apiUrl)
                    .then((res) => {
                        let data = res.data;
                        this.form = JSON.parse(Base64.decode(data.content));
                        this.configSha = data.sha;
                        this.dialogConfigFormVisible = true;
                    })
                    .catch((error) => {
                        this.msgError('获取数据失败！');
                        console.log(error);
                    })
            },
            //保存配置
            saveConfig() {
                //转化成数组
                if (typeof this.form.kghbAmount == 'string') {
                    this.form.kghbAmount = this.form.kghbAmount.split(',').filter(x => x.trim() != '');
                }
                if (typeof this.form.kgAccounts == 'string') {
                    this.form.kgAccounts = this.form.kgAccounts.split(',').filter(x => x.trim() != '');
                }
                let fileName = this.myDevice.deviceId + '.json';
                let apiUrl = this.fileApiUrl + 'AutoTaskStorage/' + fileName + this.access_token;
                let submitData = {
                    content: Base64.encode(JSON.stringify(this.form, null, 2)),
                    sha: this.configSha,
                    message: 'update'
                };
                this.openLoading();
                axios.put(apiUrl, submitData).then(res => {
                    if (res.status == 200) {
                        this.getConfig(this.myDevice);
                        this.msgSuccess();
                    }
                    else
                        this.msgError();
                    this.closeLoading();
                }).catch(err => {
                    this.closeLoading();
                    this.msgError();
                })
            },
        }
    })
</script>